.content {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition:
    max-height 0.1s ease-out,
    opacity 0.2s ease-out;
  width: 100%; /* Занимает всю доступную ширину */
  box-sizing: border-box; /* Чтобы padding не увеличивал ширину */
}
.content.open {
  max-height: 2000px; /* Или max-height: 1000px */
  opacity: 1;
}
.labelLink {
  font-weight: bold;
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  transition: color 0.2s;
  margin-top: 30px;
}
.link {
  color: #0056b3;
}

.link:hover {
  color: #003d80;
  text-decoration: underline;
}
